<ion-content>
    <div class="ion-padding">
      <img src="assets/logo_small.png">
      <ion-list>
        <ion-item>
            <ion-input placeholder="Email"></ion-input>

        </ion-item>
        <ion-item>
            <ion-input placeholder="Password" type="password"></ion-input>

        </ion-item>
          <ion-input></ion-input>
      </ion-list>      
      <ion-button [routerLink]="/home" expand="block" style="color: #333">Login</ion-button>

      <h3>Don't have an account? <a href="#">Sign Up</a></h3>
    </div>
  </ion-content>