<ion-header>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>21/06/2019</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <b>ZVV</b> Zürich, Kantonalbank - Zürich, Kirche Fluntern, 13:38h
            </ion-item>
          <ion-item>
            <b>Mobility</b> Sportplatz Flutern, Budget Mini, 14:00h-16:00h, 23km
          </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>19/06/2019</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <b>ZVV</b> Zürich HB - Dietikon, 19:12h
              </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>