<ion-header>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>Journeys</h1>

    <ion-list>
      <ion-item [routerLink]="['/details']">
        <ion-label>ZVV</ion-label><small style="padding-right: 20px">Ticket 22 Jun</small>
        <ion-note slot="end"><small>0.0088 ETH</small></ion-note>
      </ion-item>
      <ion-item [routerLink]="['/details']">
        <ion-label>Mobility</ion-label><small style="padding-right: 20px">Scooter 22 Jun</small>
        <ion-note slot="end"><small>0.065 ETH</small></ion-note>
      </ion-item>
      <ion-item [routerLink]="['/details']">
        <ion-label>PubliBike</ion-label><small style="padding-right: 20px">e-Bike 20 Jun</small>
        <ion-note slot="end"><small>0.002 ETH</small></ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>