<ion-header>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
      <h1>Journeys</h1>

      <ion-list>
          <ion-item href="#">
              <ion-label>Mobility</ion-label><small>22/06/2019 Scooter</small>
              <ion-note slot="end"><small>0.065 ETH</small></ion-note>
            </ion-item>
            <ion-item href="#">
                <ion-label>ZVV</ion-label><small>22/06/2019 Ticket</small>
                <ion-note slot="end"><small>0.044 ETH</small></ion-note>
              </ion-item>
              <ion-item href="#">
                  <ion-label>PubliBike</ion-label><small>20/06/2019 e-Bike</small>
                  <ion-note slot="end"><small>0.002 ETH</small></ion-note>
                </ion-item>
      </ion-list>
    </div>
  </ion-content>