<ion-content>
    <div class="ion-padding">
      <img src="assets/logo.png">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-avatar style="height: 128px; width: 128px;">
              <img src="assets/avatar.png">
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-grid>
      <h1 style="text-align: center">Rainer Zufall</h1>
      <ion-card style="background-color: #333">
        <ion-card-header>
          <ion-card-subtitle>Balance</ion-card-subtitle>
          <ion-card-title>4.82 ETH</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-content>