<ion-header>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="deposit = true;" fill="clear" color="{{!deposit ? 'secondary' : ''}}" expand="full"
            [style.fontWeight]="deposit ? 'bold' : 'normal'" >
            <span style="font-variant-caps: small-caps">Deposit</span>
          </ion-button>
        </ion-col>
        <ion-col>

          <ion-button (click)="deposit = false;" fill="clear" expand="full" color="{{!deposit ? '' : 'secondary'}}"
            [style.fontWeight]="!deposit ? 'bold' : 'normal'">
            <span style="font-variant-caps: small-caps">Withdraw</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card style="background-color: transparent; ">
      <ion-card-content style="padding: 15px">
        <h2 style="color: #F1F6F8; font-variant-caps: small-caps">Current Balance <span style="float: right; font-variant-caps:titling-caps">{{ balance }} ETH</span></h2>
      </ion-card-content>
    </ion-card>
    <div *ngIf="deposit">
      <ion-card>
        <ion-card-content>
          <p style="text-align: center">
            Deposit to the address</p>
          <p>
            <ion-textarea disabled value="0x1093fc997da3728539cbaa767ae1a28ad4fce32e">

            </ion-textarea>
          </p>
          <div style="display: flex; justify-content: center;">
            <img src="assets/qr.png" style="width: 200px">
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="!deposit">
      <ion-list>
        <ion-item>
            <ion-note slot="start" style="color: white">Address</ion-note>
          
          <ion-input placeholder="0x..."></ion-input>

        </ion-item>
        <ion-item>
            <ion-note slot="start" style="color: white">ETH</ion-note>
          <ion-input placeholder="Amount" type="number" [(ngModel)]="amount"></ion-input>

        </ion-item>
        <ion-item>
            <ion-note slot="start" style="color: white">CHF</ion-note>
          {{ amount * 312.5 }}
          </ion-item>
      </ion-list>
      <ion-button expand="block" style="color: #333">Confirm Withdrawal</ion-button>

    </div>
  </div>
</ion-content>