<ion-header>
  </ion-header>
  
  <ion-content>
      <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full">Deposit</ion-button>
        </ion-col>
        <ion-col>
  
          <ion-button expand="full">Withdraw</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card style="background-color: #333">
        <ion-card-header>
          <ion-card-subtitle>Current Balance</ion-card-subtitle>
          <ion-card-title>4.82 ETH</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <p>
          Deposit to the address</p><p>
          0x1093fc997da3728539cbaa767ae1a28ad4fce32e
        </p>
        </ion-card-content>
      </ion-card>
      </div>
  </ion-content>